[Desktop Entry]
Name=Jellyfin
Comment=Open Jellyfin media library
Keywords=jellyfin;media;music;movie;
Exec=google-chrome-stable --new-window --app=http://localhost:8096
Terminal=false
Type=Application
Categories=AudioVideo;
