[Desktop Entry]
Name=When The Past Was Around
Comment=Play this game on Steam
Keywords=steam;game;
Exec=steam steam://rungameid/1164050
Icon=steam_icon_1164050
Terminal=false
Type=Application
Categories=Game;
